/* This is the file for changing around the color palette */

/* This is the entire background of the webpage */
.holiday {
  background-color: #0b152b !important;
}

/* HEADER AREA */

.savedTrips {
  background-color: #111; /* Black*/
}

.openbtn:hover {
  background-color: #395070;
}

/* ASIDE AREA */
.savedTripCard {
  color: #818181;
}

/* MIDDLE AREA */

/* These are the banners for "National Parks" "Eateries" "Bizarre Places" */
.middle_threeCardArea h2 {
  background-color: #808080;
}

.middle_card {
  background-color: lightgreen;
}

/* MIDDLE_WEATHER */
.weather_title {
  background-color: gray;
}

.weather_card {
  background-color: gray;
}

/* FOOTER */
footer {
  background-color: gray;
}

/* Configuration A */
/* header banner, parks banner and weather all the same color */
/* This is the colored banner at the top */
.holiday,
#state,
#eatery,
#bizarre,
#parkDropdown {
  background-color: white;
}

.welcome_aside,
.middle_threeCardArea h2,
.weather_title,
.closebtn {
  background-color: #62a2e1;
}

.middle_card,
.weather_card {
  background-color: #d1e0f4;
}

#eatDetailButton,
#bizarre_button,
#park_detailsButton {
  background-color: white;
  border-width: 1px !important;
}
.openbtn {
  color: #111 !important;
}

footer {
  background-color: #0b152b !important;
  color: white;
}

.openbtn,
.savedTrips {
  background-color: #d1e0f4;
}

#eatDetailButton:hover,
#bizarre_button:hover,
#park_detailsButton:hover,
#saveTrip:hover:enabled {
  background-color: #62a2e1 !important;
  border-width: 1px !important;
}
