@import "middle.css";
@import "header.css";
@import "cardDetails.css";
@import "aside.css";
@import "footer.css";
@import "buttons.css";
@import "colors.css";
@import 'fonts.css';

html body {
  padding: 0;
  margin: 0;
}
.holiday {
  
}

.main_aside {
  display: flex;
  justify-content: space-between;
}

main {
  transition: margin-left 0.5s; /* If you want a transition effect */
  padding: 0 20px;
  width: 100%;
}
