@import "middle.css";
@import "header.css";
@import "cardDetails.css";
@import "aside.css";
@import "footer.css";
@import "buttons.css";

.holiday {
  background-color: blanchedalmond;
}

.main_aside {
  display: flex;
  justify-content: space-between;
}

main {
  border: black 2px solid;
}
