.middle_threeCardArea {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.middle_card {
  padding: 0 3rem;
  /* min-height: 500px;
    min-width: 400px; */
  min-width: 25%;
  min-height: 500px;
  max-width: 25%;
  margin: 1px;
}

.middle_save {
  position: fixed;
  bottom: 0;
  right: 50%;
}

/* .closebtn {
    font-size: 20px;
cursor: pointer;
background-color: #111;
color: white;
padding: 10px 15px;
border: none;
}
.closebtn:hover {
    background-color: #444;
    } */
