.weather_title {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 24px;
}
.weather_title h3 {
  margin-right: 25%;
  margin-left: 5px;
}

.weather_card_area {
  display: flex;
  justify-content: space-between;
}
.weather_card {
  background-color: gray;
  min-height: 100px;
  min-width: 17%;
  margin-bottom: 10px;
}
