.weather_title {
  background-color: gray;
  display: flex;
  align-items: flex-end;
  margin-bottom: 2rem;
}

.weather_title h4 {
  text-align: center;
}
.weather_card_area {
  display: flex;
  justify-content: space-between;
}
.weather_card {
  background-color: gray;
  min-height: 200px;
  min-width: 275px;
}
